<!DOCTYPE HTML>
<html>
    <head>
        <title> {{title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
    <h1>{{title}}</h1>
    </body>

</html>
