<div th:fragment="headerUser" xmlns:th="http://www.thymeleaf.org">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

        <h4 class="my-0 mr-md-auto font-weight-normal"> <a href="/">Portfolio manager</a></h4>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/portfolio">Portfolio</a>
            <a class="p-2 text-dark" href="/reviews">Reviews</a>
            <a class="p-2 text-dark" href="/about">About</a>
        </nav>

<!--        <a class="btn btn-outline-primary" href="/reg">Sign up</a>-->

        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">  <!-- использовать во всех формах -->
            <input type="submit" class="btn btn-danger" value="Sign Out"/>
        </form>

    </div>

</div>
